/*Universal Styles*/
html{
  font-family: serif;
  font-size: 16px;
}
a{
  text-decoration: none;
}
h1{
  font-family: "Lora", serif;
  font-size: 2.2rem;
  font-weight: bold;
}
h2{
  font-family: "Lora", serif;
  font-size: 1.7rem;
  font-weight: bold;
}
p{
  font-family: "Open Sans", sans-serif;
}

/*Header*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: static;
  z-index: 10;
  width: 100%;
  background-color: white;
  height: 4rem;
  font-style: "Lora", serif;
}
 header a{
   color: #C0B283;
 }
.logo {
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
}
.logo em{
  color: #373737;
  font-weight: bold;
}
header nav{
  padding-right: 1.5rem;
}
header ul{
  display: inline;
  justify-content: center;
  padding-left: 1rem;

}

/*Header for small screen*/

header .mobile{
  display: none;
}

@media only screen and (max-width: 750px) {
  header .desktop{
    display: none;
  }
  header .logo{
    display: none;
  }
  header .mobile {
    display: block;
    width: 100%;
  }
  header .mobile ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
}
/*Main*/
.banner{
  margin: 0 auto;
  background-color: #DCD0C0;
}
.banner .container{
  display: flex;
  justify-content: space-between;
  margin:auto;

}
.banner .image-container{
  width: 60%;
  padding: 2rem 1.5rem;
}
.container img{
  width:100%;
}
.text-container{
    width: 27.5rem;
}
.learn{
  height: auto;
  padding-left: 1.25rem;
  margin-right: 3.75rem;
  margin-top: 11.5rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.learn h2{
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.learn a{
  background-color: #C0B283;
  color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;

}
.learn a:hover{
  background-color: #373737;
}
@media only screen and (max-width: 750px) {
  .banner .container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px;
  }
  .banner .image-container {
    width: 100%;
    padding: 0px 0px;

  }
  .text-container{
        width: 100%;
  }
  .learn {
    margin: 1.5rem 1.5rem;
    padding-left: 0px;
    align-items: center;
  }
  .learn a{
    width: 100%;

  }

}

/*Information*/
.information-section{
  display: flex;
  justify-content: space-between;
  margin:auto;
}
.main-info{
  width: 60%;
  padding: 2rem 1.5rem;
}

.main-info img{
  width: 100%;
}
.main-info h1{
  padding-top: 2rem;
}
.main-info p{
  padding: 1.5rem 1.5rem 1.5rem 0;
}
.content-right{
  padding: 16px 1px 16px 0px;
  width: 100%;
}
.content-right p{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.information-section .right-section{
  padding: 1rem 0rem 2rem 0rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 27.5rem;
}
.box{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.right-section .box:hover{
  background-color: #C0B283;
}
.box img.desktop{
  width: 35%;
  padding: 1rem;
}
.box img.mobile{
  display: none;
}

@media only screen and (max-width:750px){
  .information-section .main-info{
    display: none;
  }
  .information-section .right-section{
    border-left: 0px;
    padding: 1rem 1rem 2rem 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }
  .campus{
    border-top: 0px;
    border-bottom: 0px;
    margin: 16px 0px;
  }
  .box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 0;
  }
  .box img.desktop{
    display: none;

  }
  .box img.mobile{
    display: flex;
    width: 100%;
  }
  .content-right{
    padding: 0;
    width: 100%;
    margin-top: 1rem;

  }

}

/*Courses*/
.courses{
  padding-bottom: 2rem;
  justify-content: space-between;
  margin: auto;
  background-color: #DCD0C0;
}
.heading{
  width: 100%;
  text-align:center;
  margin: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.course-boxes{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0 auto;
  padding-left: 4.5rem;
  padding-right:4.5rem;


}
.courses-mobile{
  display: none;
}
.course{
  width: 32%;
  height: 21rem;
  margin-bottom: 20px;
  background-color: white;
}
.course:hover{
  background-color:#C0B283;
}
.course img{
  width: 100%;
  height: auto;
}
.content-box h2{
  	padding-bottom: 1rem;

}
.content-box p{
  padding-top: .77rem;
  padding-bottom: 1.5rem;
}
.content-box{
  padding: 1rem 1rem 1.5rem 1rem;
}
.content-box span{
  font-size: .8rem;
}
@media only screen and (max-width: 750px){
  .courses{
    margin: 0 auto;
    width: 100%
  }
  .course-boxes{
    display: none;
  }
  .courses-mobile{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .courses-mobile a{
    background-color: white;
    color: #383838;
    text-decoration: none;
    padding: 16px;
    margin-bottom: 8px;
    font-size: 1.4rem;
  }

}

/*Thesis*/
.thesis .container {
  display: flex;
  justify-content: space-between;
  margin: auto;
}
.video{
  width: 60%;
  padding: 2rem 1.5rem;
}
.video video {
  width: 100%;
  object-fit: contain;
}

.thesis p {
  padding-top: 16px;
  padding-bottom: 0px;
}

.thesis h2 {
  padding-top: 24px;
}

.thesis .box img {
  width: 35%;
  padding: 16px;
}

.thesis .fisma {
  margin-top: 32px;
}
.thesis-info{
    width: 27.5rem;
}
.thesis .box:hover{
  background-color: #C0B283;
}


@media only screen and (max-width: 750px) {
  .container .thesis-info {
    display: none;
  }

  .container .video {
    width: 100%;
    padding: 0px;
  }
  .container .video p {
    display: none;
  }

  .container .video h2 {
    display: none;
  }
}

/* Footer Section */
footer {
  border-top: 1px solid #DCDCDC;
  background-color: white;
  height: 3.5rem;
}

footer p {
  padding-left: 24px;
  padding-right: 24px;
  color: #C0B283;
}
footer a{
  color: #C0B283;
  display: inline-block;
  padding-right: 16px;
  cursor: auto;
  text-decoration: none;
}

footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: .75rem;
}

nav {
  text-align: right;
  flex-grow: 1;
}


footer .terms a:hover {
  color: #808080;
}

footer .terms a:active {
  color: #808080;
}

@media only screen and (max-width: 750px) {
  footer {
    border-top: 0px;
  }

  footer .container {
    margin-top: 24px;
  }

  footer .terms {
    display: none;
  }

  footer p {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
